<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXZL35Ztc1Z-TuHoXAYRHZc5BIlIdtgts</string>
	<key>GCM_SENDER_ID</key>
	<string>444182678264</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.signin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>loged-bdcc6</string>
	<key>STORAGE_BUCKET</key>
	<string>loged-bdcc6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:444182678264:ios:f9c1713f60116b47a3890d</string>
</dict>
</plist>